# Bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual environments
venv/
.env/
.venv/

# Dependency files
*.egg-info/
*.egg
dist/
build/
pip-wheel-metadata/

# Logs
*.log

# Testing
.coverage
htmlcov/
.cache/
.pytest_cache/
.tox/

# mypy
.mypy_cache/

# flake8
.flake8

# VS Code
.vscode/

# PyCharm
.idea/

# Environment variables
.env
.env.*

# Jupyter (por si acaso)
.ipynb_checkpoints/

# macOS
.DS_Store

# System
Thumbs.db
